---
layout: default
---

<section class="home" id="home">
    <img src="images/kakastefane.jpg" alt="Kaká Stefane" class="home-avatar">
    <h1 class="home-title">Kaká Stefane</h1>
    <h2 class="home-subtitle">Desenvolvedor Front-End</h2>
    <a href="#about" title="Sobre Mim" class="home-button">Sobre Mim</a>
</section>
<!-- .home -->

<section class="about" id="about">
    <h2 class="about-title">Sobre Mim</h2>
    <div class="about-text">
        <p>Olá, meu nome é <strong>Kariston Stefane da Silva</strong>, natural de Apucarana/PR, atualmente moro em São José/SC, região metropolitana de Florianópolis.</p>
        <p>Sou <strong>Desenvolvedor Front-End</strong> e <strong>Designer de Interfaces</strong> de formação auto-didata, atualmente estou cursando <strong>Análise e Desenvolvimento de Sistemas</strong> na Estácio, porém além disso me mantenho sempre estudando e buscando mais conhecimento na área de desenvolvimento.</p>
    </div>
</section>
<!-- .about -->

<section class="skills">
    <h2 class="skills-title">Habilidades</h2>
    <dl class="skill">
        <dt class="skill-title">Front-End</dt>
        <dd class="skill-description">Tenho conhecimento em <strong>HTML</strong>, <strong>CSS</strong> e <strong>JavaScript</strong>. Utilizo frameworks como <strong>jQuery</strong>, <strong>Bootstrap</strong>, caso necessário para agilizar o desenvolvimento e <strong>Git</strong> para controle de versão.</dd>
    </dl>
    <dl class="skill">
        <dt class="skill-title">UI/UX</dt>
        <dd class="skill-description">Me preocupo sempre com a <strong>experiência</strong> que o <strong>usuário</strong> terá nos projetos em que eu desenvolvo, busco sempre me atualizar e procurar <strong>ótimas referências</strong> para que cada projeto <strong>seja único</strong>.</dd>
    </dl>
</section>
<!-- .skills -->

<section class="exps">
    <h2 class="exps-title">Experiência</h2>
    <dl class="exp">
        <img class="exp-logo" src="images/logo-webi.png" alt="Agência WEBI">
        <dt class="exp-title">Agência WEBI</dt>
        <dd class="exp-period">Período: 2014 a Atualmente</dd>
        <dd class="exp-description">Desenvolvedor Front-End</dd>
    </dl>
    <dl class="exp">
        <img class="exp-logo" src="images/logo-nacionalvox.png" alt="Agência NacionalVOX">
        <dt class="exp-title">Agência NacionalVOX</dt>
        <dd class="exp-period">Período: 2011 a 2014</dd>
        <dd class="exp-description">Designer WEB/UI/UX - Desenvolvedor Front-End</dd>
    </dl>
    <dl class="exp">
        <img class="exp-logo" src="images/logo-nsk.png" alt="NSK Iluminação">
        <dt class="exp-title">NSK Iluminação</dt>
        <dd class="exp-period">Período: 2010 a 2011</dd>
        <dd class="exp-description">Designer Gráfico/WEB - Desenvolvedor Front-End</dd>
    </dl>
</section>
<!-- .skills -->

<section class="portfolio" id="portfolio">
    <h2 class="portfolio-title">Portfólio</h2>
    <ul class="portfolio-list">
        {% if site.posts.size == 0 %}
            <h3>No posts found =(</h3>
        {% else %}
        {% for post in site.posts %}
        <li class="item">
            <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
                <figure class="image">
                    <img src="{{ post.thumb }}" alt="{{ post.title }}">
                </figure>
                <dl class="text">
                    <dt class="text-title">{{ post.title }}</dt>
                    {% for category in post.categories %}
                    <dd class="text-category">
                        {{ category }}
                    </dd>
                    {% endfor %}
                </dl>
            </a>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
</section>
<!-- .portfolio -->

<section class="contact" id="contact">
    <h2 class="contact-title">Entre em contato</h2>
    <div class="contact-text">
        <p>Tem interesse em ter um site com design agradável, otimizado e que atenda o máximo de dispositivos possíveis? Deseja fazer uma parceria comigo?</p>
        <p>Preencha o formulário, que te responderei o mais breve possível.</p>
    </div>
    <form method="POST" action="https://formspree.io/karistonstefane@hotmail.com" class="contact-form">
        <input type="hidden" name="_next" value="{{ site.baseurl }}obrigado" />
        <input type="hidden" name="_subject" value="Novo contato pelo Site!" />
        <input type="hidden" name="_language" value="pt-BR" />
        <label class="lb-input" for="nome">
            Como deseja ser chamado?
            <input type="text" id="nome" name="name" placeholder="Digite seu Nome" required>
        </label>
        <label class="lb-input" for="email">
            Para qual e-mail posso responder?
            <input type="email" id="email" name="email" placeholder="Digite seu E-mail" required>
        </label>
        <label class="lb-input" for="assunto">
            Sobre o que deseja falar?
            <select name="assunto" id="assunto" required>
                <option value="">Selecione uma Opção</option>
                <option value="Geral">Assuntos Gerais</option>
                <option value="Orçamento">Solicitar um Orçamento</option>
                <option value="Parceria">Propor uma Parceria</option>
            </select>
        </label>
        <label class="lb-textarea" for="mensagem">
            Digite sua mensagem:
            <textarea id="mensagem" name="message" placeholder="Digite sua mensagem" required></textarea>
        </label>
        <button class="button">Enviar</button>
    </form>
</section>
<!-- .contact -->