<nav>
	<h1 class="site-title"><a href="/">{{ site.title }}</a></h1>
	<h2 class="site-subtitle">Desenvolvedor Front-End</h2>

	<ul class="menu">
		<li><a href="#inicio" class="menu-link">Início</a></li>
		<li><a href="#sobre" class="menu-link">Sobre mim</a></li>
		<li><a href="#portfolio" class="menu-link">Portfólio</a></li>
		<li><a href="#contato" class="menu-link">Contato</a></li>
	</ul>

	<ul class="social">
		<li><a href="{{ site.facebook }}" class="social-link facebook">Facebook</a></li>
		<li><a href="{{ site.twitter }}" class="social-link twitter">Twitter</a></li>
		<li><a href="{{ site.instagram }}" class="social-link instagram">Instagram</a></li>
		<li><a href="{{ site.github }}" class="social-link github">Github</a></li>
	</ul>
</nav>