<nav class="side">
	<h1 class="side-title"><a href="/">{{ site.title }}</a></h1>
	<h2 class="side-subtitle">Desenvolvedor Front-End</h2>
	<ul class="side-menu">
		<li><a href="#home" class="side-menu-link">Início</a></li>
		<li><a href="#about" class="side-menu-link">Sobre mim</a></li>
		<li><a href="#portfolio" class="side-menu-link">Portfólio</a></li>
		<li><a href="#contact" class="side-menu-link">Contato</a></li>
	</ul>
	<ul class="side-social">
		<li><a href="{{ site.facebook }}" class="side-social-link facebook">Facebook</a></li>
		<li><a href="{{ site.twitter }}" class="side-social-link twitter">Twitter</a></li>
		<li><a href="{{ site.instagram }}" class="side-social-link instagram">Instagram</a></li>
		<li><a href="{{ site.github }}" class="side-social-link github">Github</a></li>
		<li><a href="{{ site.linkedin }}" class="side-social-link linkedin">LinkedIn</a></li>
	</ul>

	<input id="btn-hamburguer" class="check-hamburguer" type="checkbox">
	<label for="btn-hamburguer" class="label-hamburguer">
		<div class="btn-hamburguer">
			<span class="hamburguer"></span>
		</div>
	</label>
</nav>