@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900');

:root {
    --primary: #E67E22;
    --secondary: #7F8C8D;
    --dark: #2C3E50;
    --light: #ECF0F1;
    --success: #2ECC71;
    --error: #E74C3C;
}

* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding: 20px 5%;
    margin: 0 auto;
    overflow: hidden;
    transition: background-color 200ms linear;
}
.scrolled {
    background-color: var(--dark);
}
.header-brand {
    float: left;
}
.header-brand a {
    color: var(--light);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    font-weight: 900;
}
.header-navigation {
    float: right;
}
.header-navigation ul li {
    float: left;
}
.header-navigation ul li a {
    font-size: 16px;
    line-height: 25px;
    display: block;
    color: var(--light);
    text-decoration: none;
    padding: 0 10px;
}
.header-navigation ul li a:after {
    display: block;
    width: 100%;
    height: 2px;
    content: '';
    transition: transform 200ms linear;
    transform: scaleX(0);
    background-color: var(--primary);
}
.header-navigation ul li a:hover:after {
    transform: scaleX(1);
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/bg-home.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.home:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--dark);
    filter: opacity(0.9);
}
.home-title {
    position: relative;
    z-index: 1;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--light);
    margin-bottom: 10px;
}
.home-title:before {
    content: "";
    width: 250px;
    height: 250px;
    margin: 0 auto 30px;
    display: block;
    background-image: url('../images/kakastefane.jpg');
    background-size: cover;
    border-radius: 50%;
    text-indent: -9999px;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
}
.home-subtitle {
    position: relative;
    z-index: 1;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--light);
}
.home-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 60px;
    height: 60px;
    display: block;
    background-color: var(--primary);
    background-image: url('../images/down-navigation.gif');
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50% 50% 0 0;
    text-indent: -9999px;
}
.about {
    position: relative;
    width: 100%;
    padding: 120px 5% 60px;
    background-color: var(--light);
}
.about:after {
    content: "";
    width: 20%;
    height: 1px;
    background: rgba(0,0,0,0.1);
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.about-title {
    position: relative;
    z-index: 1;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--dark);
    margin-bottom: 30px;
    text-align: center;
}
.about-text {
    position: relative;
    z-index: 1;
    font-size: 16px;
    line-height: 150%;
    color: var(--dark);
    text-align: center;
}
.about-text strong {
    font-weight: bold;
}
.skills {
    padding: 60px 5% 120px;
    background-color: var(--light);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 -15px;
}
.skills-title {
    width: 100%;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--dark);
    margin-bottom: 50px;
    text-align: center;
}
.skill {
    width: 33%;
    padding: 0 15px;
    text-align: center;
}
.skill-title {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--dark);
}
.skill-title:before {
    content: "";
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto 20px;
    background-color: var(--primary);
    background-image: url('../images/design.svg');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 2px solid var(--light);
    box-shadow: 0 0 15px 10px rgba(0,0,0,0.1);
}
.skill:nth-child(2) .skill-title:before {
    background-image: url('../images/coding.svg');
}
.skill-description {
    font-size: 16px;
    line-height: 150%;
    color: var(--dark);
}
.portfolio {
    padding: 120px 0 0;
    background-color: var(--dark);
    overflow: hidden;
}
.portfolio-title {
    width: 100%;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--light);
    margin-bottom: 50px;
    text-align: center;
}
.portfolio-list-item {
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: var(--secondary);
}
.portfolio-list-item:nth-child(2) {
    background-color: var(--primary);
}
.portfolio-list-item:nth-child(3) {
    background-color: var(--dark);
}
.portfolio-list-item.reverse {
    flex-direction: row-reverse;
}
.portfolio-image {
    position: relative;
    width: 50%;
    overflow: hidden;
    box-shadow: 0 0 15px 10px rgba(0,0,0,0.1);
}
.portfolio-image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--secondary);
    filter: opacity(0.7);
    z-index: 1;
}
.portfolio-list-item:nth-child(2) .portfolio-image:before {
    background-color: var(--primary);
}
.portfolio-list-item:nth-child(3) .portfolio-image:before {
    background-color: var(--dark);
}
.portfolio-image img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 120%;
    transform: translateX(-50%);
    display: block;
}
.portfolio-text {
    position: relative;
    width: 50%;
    padding: 150px 50px 0;
}
.portfolio-text-title {
    text-transform: uppercase;
    font-size: 34px;
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--light);
}
.portfolio-text-description {
    font-size: 16px;
    line-height: 150%;
    color: var(--light);
}
.portfolio-list-item.reverse .portfolio-image:before {
    background-color: var(--error);
}
.portfolio-list-item.reverse .portfolio-text {
    text-align: right;
    background-color: var(--error);
}
.contact {
    position: relative;
    padding: 0 5% 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/bg-contact.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.contact:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--light);
    filter: opacity(0.9);
    z-index: 1;
}
.contact-title {
    position: relative;
    z-index: 2;
    width: 100%;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--dark);
    margin-bottom: 10px;
    text-align: center;
}
.contact-subtitle {
    position: relative;
    z-index: 2;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 50px;
    color: var(--dark);
    text-align: center;
}
.contact-form {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 50%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.contact-form input {
    width: 49%;
    height: 50px;
    padding: 0 15px;
    margin-bottom: 2%;
    font-size: 14px;
    border-radius: 3px;
    background-color: #FFF;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.contact-form input:first-child {
    margin-right: 2%;
}
.contact-form textarea {
    width: 100%;
    height: 100px;
    padding: 15px;
    margin-bottom: 2%;
    font-size: 14px;
    resize: none;
    border-radius: 3px;
    background-color: #FFF;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.contact-form button {
    cursor: pointer;
    padding: 0 45px;
    height: 50px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    background-color: var(--primary);
    color: var(--light);
    transition: background-color 100ms linear;
}
.contact-form button:hover {
    background-color: var(--dark);
}